# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
venv/
.vscode/

# Arduino/C-related files
*.ino
*.cpp
*.h
*.log
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# IDE and build files
/.idea/
/.vscode/
/build/
/bin/
/obj/
